@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>

    <link rel="stylesheet" href="src/css/index.css" type="text/css" media="screen and (min-width: 1024px">

</head>
<body>
    <div class="container--main blured">
        <div class="modal--login">
            <input type="text" />
            <div class="button--login"></div>
        </div>                   
    </div>
</body>
</html>
